{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="938E52F9B3F2A327B1E40BFFC27356FE" />
    <meta name="google-site-verification" content="hs27bbO_sbzCF_6Ff_DxTPHhZ86H00d0oeumKHV0rI4" />
    <meta name="description" content="Learn how to log in to your Capital One credit card account and make secure online payments. Follow our step-by-step guide to manage your Capital One card easily." />
    <meta name="keywords" content="Capital One login, pay Capital One credit card, Capital One online payment, Capital One credit card sign in, manage Capital One account" />
    <meta name="robots" content="index, follow" />
    <title>How to Log In & Pay Your Capital One Credit Card Bill – Complete Guide</title>
    {{ super() }}
{% endblock %}
